env
*.pyc
*~
local_config.py
migrations
*_log.txt
*.csv

data/*_poly.txt
env
*.pyc
*~
env
*.pyc
*~
.idea/*
mapreduce/polygon/tmp*.txt

mapreduce/preprocess/greenmap7.txt

mapreduce/preprocess/greentmp_7.txt
